* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .3s;
  transition: .3s;
}

body {
  overflow: hidden;
}

body.ready {
  overflow: overlay;
  overflow-x: hidden;
}

body.ready #preloader {
  width: 0;
  opacity: 0;
}

body.ready #preloader #round1 {
  width: 0;
  height: 0;
  margin: 0;
  -webkit-animation: none;
          animation: none;
}

body.ready #preloader #round1 * {
  width: 0;
  height: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  font-family: 'Qanelas';
  vertical-align: baseline;
  outline: none;
  color: #fff;
}

html {
  height: 101%;
}

/* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  background-color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#preloader {
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

#preloader #round1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  -webkit-animation: round1-rotate 2.0s infinite linear;
          animation: round1-rotate 2.0s infinite linear;
}

#preloader #round1 span {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background-color: #267ea3;
  border-radius: 50%;
  -webkit-animation: round1-bounce 2.0s infinite ease-in-out;
          animation: round1-bounce 2.0s infinite ease-in-out;
}

#preloader #round1 span:nth-child(2) {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes round1-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round1-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes round1-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes round1-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper menu {
  z-index: 999;
  width: 90%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 5%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

#wrapper menu.top-of-page {
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

#wrapper menu #menuLogo {
  width: 200px;
  margin: 0 100px 0 0;
}

#wrapper menu #menuLogo object {
  height: auto;
}

#wrapper menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-weight: 250;
  list-style-type: none;
  padding: 0 20px;
  margin: 0 20px;
}

#wrapper menu ul li a:hover {
  text-decoration: none;
}

#wrapper menu ul li p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  bottom: 6px;
}

#wrapper menu ul li:last-child {
  margin: 0 0 0 20px;
}

#wrapper menu ul li:last-child {
  margin: 0 20px 0 0;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #175068;
  border-radius: 7px;
}
/*# sourceMappingURL=basic.css.map */